<main class="dashboard">
  <article
    class="dashboard__content contact container"
    *ngIf="contact$ | async as contact; else default"
  >
    <header>
      <h1 class="contact__header">
        {{ contact.firstName }} {{ contact.lastName }}
      </h1>
    </header>

    <div class="contact__details">
      <p class="contact__item">
        <span class="contact__title">phone</span>
        {{ contact.phone }}
      </p>
      <mat-divider></mat-divider>

      <p class="contact__item">
        <span class="contact__title">email</span>
        {{ contact.email }}
      </p>

      <mat-divider></mat-divider>

      <p class="contact__item">
        <span class="contact__title">address</span>
        {{ contact.address }}
      </p>

      <mat-divider></mat-divider>

      <p class="contact__item">
        <span class="contact__title">note</span>
        {{ contact.note }}
      </p>
    </div>
  </article>

  <ng-template #default>
    <p>
      Here should be default content...
    </p>
  </ng-template>

  <div class="dashboard__navbar container">
    <nav class="navbar">
      <a
        class="navbar__btn navbart__btn--add"
        mat-stroked-button
        [routerLink]="['/contacts', 'create']"
      >
        +
      </a>

      <a
        *ngIf="id$ | async as id"
        class="navbar__btn navbart__btn--add"
        mat-stroked-button
        [routerLink]="['/contacts', 'edit', id]"
      >
        Edit
      </a>
    </nav>
  </div>
</main>
