<main class="dashboard">
  <p *ngIf="!contact?.id; else details">Here should be default content</p>

  <ng-template #details>
    <article class="dashboard__content contact container">
      <header>
        <h1 class="contact__header">
          {{ contact?.firstName }} {{ contact?.lastName }}
        </h1>
      </header>

      <div class="contact__details">
        <p class="contact__item">
          <span class="contact__title">phone</span>
          {{ contact?.phone }}
        </p>
        <mat-divider></mat-divider>

        <p class="contact__item">
          <span class="contact__title">email</span>
          {{ contact?.email }}
        </p>

        <mat-divider></mat-divider>

        <p class="contact__item">
          <span class="contact__title">address</span>
          {{ contact?.address }}
        </p>

        <mat-divider></mat-divider>

        <p class="contact__item">
          <span class="contact__title">note</span>
          {{ contact?.note }}
        </p>
      </div>
    </article>
  </ng-template>

  <div class="dashboard__navbaar">
    <app-contact-navbar [id]="id" [mode]="mode"></app-contact-navbar>
  </div>
</main>
