@import '~normalize.css';
@import './sass/variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $color-main;
}
